<div class="card border-info mb-3">
    <div class="card-body text-info">
      <div class="score-card-title">
        <h6><%= score.username %>, <%= moment(score.highscore_date).format('L') %></h6>
        <h6><%= score.highscore %></h6>
      </div>
    </div>
</div>
